body {
    background-color: #231236;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    margin: 0;
    padding: 0px;
    font-family: Arial, sans-serif;
}

.content {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding-bottom: 150px;
}

    .content img {
        max-width: 100%;
        width: 100%; /* Garante que a imagem ocupe a largura total disponível */
        margin: 20px 0;
    }

.institutions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

    .institutions a img {
        max-width: 100%;
        height: auto;
    }

.floating-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .floating-icons a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .floating-icons img {
        width: 40px;
        height: 40px;
    }

.floating-counter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

.nofloating-sponsor {
    background-color: #FFD700;
    color: #231236;
    padding: 15px 20px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.floating-historia {
    position: fixed;
    top: 190px;
    left: 20px;
    background-color: #FFD700;
    color: #231236;
    padding: 15px 20px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.floating-beneficiada {
    position: fixed;
    top: 120px;
    left: 20px;
    background-color: #FFD700;
    color: #231236;
    padding: 15px 20px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.floating-sponsor {
    position: fixed;
    top: 50px;
    left: 20px;
    background-color: #FFD700;
    color: #231236;
    padding: 15px 20px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.floating-sponsors {
    position: fixed;
    bottom: 150px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sponsors-title {
    font-size: 28px;
    color: yellow;
}

.sponsors-title-1 {
    font-size: 24px;
    color: yellow;
}

.sponsors-title-smaller {
    font-size: 20px;
    color: white;
}

.sponsor-carousel {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens sejam quebrados para a próxima linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    overflow-y: auto; /* Permite rolar horizontalmente se necessário */
}

    .sponsor-carousel img {
        max-height: 200px;
        margin: 10px; /* Adiciona um espaçamento entre as imagens */
    }


.image-carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.image-carousel {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens sejam quebrados para a próxima linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 10px; /* Adiciona um espaçamento entre as imagens */
    overflow: hidden;
    width: 100%;
}

    .image-carousel img {
        max-height: 200px;
        height: auto;
        object-fit: contain;
    }

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;
}

    .carousel-button.left {
        left: 10px;
    }

    .carousel-button.right {
        right: 10px;
    }


.event-info-box {
    max-width: 60%; /* Largura padrão para modo paisagem */
    margin: 0 auto;
    border: 2px solid #FFD700;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #333; /* Ajuste conforme necessário */
    color: #fff;
}

/* Media query para modo retrato */
@media (orientation: portrait) {
    .event-info-box {
        max-width: 100%; /* Largura para modo retrato */
    }
}

.event-info-box {
    background-color: #333; /* Ajuste conforme necessário */
    padding: 20px;
    border-radius: 8px;
}

.event-history {
    max-width: 60p;
    margin: 0 auto;
    padding: 20px;
}

.event-info-box {
    background-color: #333; /* Ajuste conforme necessário */
    padding: 20px;
    border-radius: 8px;
}

.history-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.event-image {
    max-width: 500px; /* Define a largura máxima da imagem */
    height: auto;
    border-radius: 8px;
}

.history-text {
    flex: 1;
    color: #fff;
    text-align: justify;
}

p {
    margin-bottom: 15px;
}

.event-info-box {
    background-color: #333; /* Ajuste conforme necessário */
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 20px;
}

.history-section,
.content-section {
    display: flex;
    flex-wrap: wrap; /* Permite que o conteúdo vá para a linha de baixo se necessário */
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo */
    gap: 20px; /* Espaçamento entre elementos */
}

    .history-section img,
    .content-section img {
        max-width: 100%;
        width: 300px; /* Define a largura das imagens */
        height: auto;
        border-radius: 8px;
    }

.history-text,
.event-text {
    flex: 1;
    min-width: 300px; /* Garante que o texto não seja menor que a imagem */
    text-align: justify;
}

ul {
    padding-left: 20px;
    margin-bottom: 15px;
}

p, ul {
    margin-top: 0;
}

.history-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.history-text {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

    .history-text p {
        margin-bottom: 15px;
    }

    .history-text strong {
        color: #231236;
    }

.history-images-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.history-image-item {
    text-align: center;
    height: auto;
}

.history-image {
    padding: 2px;
    max-width: 185px;
    width: 185px;
    height: auto;
}


.clickable-image {
    max-width: 300px; /* Define a largura máxima da imagem clicável */
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 20px auto; /* Centraliza a imagem clicável horizontalmente */
}

.video-container iframe {
    width: 100%; /* Ajuste o tamanho conforme necessário */
    height: 315px; /* Mantém a proporção */
    max-width: 560px; /* Tamanho máximo */
    margin: 0px;
}


/* Estilos específicos para mobile */
@media (max-width: 768px) {
    .top-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: #231236; /* Cor de fundo opcional */
        padding: 10px 0;
        z-index: 1001; /* Garante que a barra fique acima de outros elementos */
    }

        .top-bar > div {
            display: flex;
            gap: 10px;
        }

        .top-bar a {
            padding: 10px 15px;
            font-size: 14px;
            background-color: #FFD700;
            color: #231236;
            border-radius: 25px;
            font-weight: bold;
            text-decoration: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        .top-bar .floating-icons {
            flex-direction: column;
            gap: 10px;
            top: 80px;
            right: 5px;
        }

            .top-bar .floating-icons a {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background: white;
                display: flex;
                padding: 0px;
                align-items: center;
                justify-content: center;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }

            .top-bar .floating-icons img {
                width: 25px;
                height: 25px;
            }

    .floating-sponsor {
        position: fixed;
        top: 15px;
        left: 5px;
        background-color: #FFD700;
        color: #231236;
        padding: 15px 20px;
        border-radius: 25px;
        font-weight: bold;
        text-decoration: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .floating-historia {
        position: fixed;
        top: 15px;
        left: 200px;
        background-color: #FFD700;
        color: #231236;
        padding: 15px 20px;
        border-radius: 25px;
        font-weight: bold;
        text-decoration: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .image-carousel {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens sejam quebrados para a próxima linha */
        justify-content: center; /* Centraliza os itens horizontalmente */
        gap: 5px; /* Adiciona um espaçamento entre as imagens */
        overflow: hidden;
        margin: 0;
        width: 100%;
    }

        .image-carousel img {
            max-height: 100px;
            height: auto;
            object-fit: contain;
        }


    .event-info-box {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
    }
}


.top-bar {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    padding: 10px;
    background-color: #231236;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.button-container {
    display: flex;
    gap: 10px;
}

.top-button {
    background-color: #FFD700;
    color: #231236;
    padding: 15px 20px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
}

.floating-icons {
    display: flex;
    gap: 10px;
}

    .floating-icons a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .floating-icons img {
        width: 25px;
        height: 25px;
    }

@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: stretch;
        padding: 10px 5px;
    }

    .button-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
    }

    .top-button {
        font-size: 14px;
        padding: 10px 15px;
    }

    .floating-icons {
        position: fixed;
        top: 80px;
        right: 5px;
        flex-direction: column;
    }
}


.whatsapp-invite {
    text-align: center;
    margin: 20px 0;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.whatsapp-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado do link */
    color: green; /* Altera a cor do texto para verde */
    font-weight: bold;
    font-size: 24px; /* Aumenta o tamanho da fonte */
    margin-top: 10px;
    animation: pulse 1.5s infinite; /* Animação de pulsação */
}

    .whatsapp-link img {
        margin-right: 8px;
    }