@page "/"
@inject IJSRuntime JSRuntime;

<PageTitle>5ª Noite do Burger Solidário</PageTitle>
<style>
    body {
        background-color: #231236;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    .content {
        max-width: 800px;
        width: 100%;
        text-align: center;
        padding-bottom: 150px;
    }

        .content img {
            max-width: 100%;
            margin: 20px 0;
        }

    .institutions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

        .institutions a img {
            max-width: 350px;
            height: auto;
        }

    .floating-icons {
        position: fixed;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

        .floating-icons a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            background-color: white;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        .floating-icons img {
            width: 40px;
            height: 40px;
        }

    .floating-counter {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-align: center;
        padding: 10px 0;
        z-index: 1000;
    }

    .nofloating-sponsor {
        background-color: #FFD700;
        color: #231236;
        padding: 15px 20px;
        border-radius: 25px;
        font-weight: bold;
        text-decoration: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .floating-sponsor {
        position: fixed;
        top: 50px;
        left: 20px;
        background-color: #FFD700;
        color: #231236;
        padding: 15px 20px;
        border-radius: 25px;
        font-weight: bold;
        text-decoration: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .floating-sponsors {
        position: fixed;
        bottom: 150px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-align: center;
        padding: 10px 0;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sponsors-title {
        font-size: 24px;
        color: yellow;
    }

    .sponsor-carousel {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens sejam quebrados para a próxima linha */
        justify-content: center; /* Centraliza os itens horizontalmente */
        overflow-y: auto; /* Permite rolar horizontalmente se necessário */
    }

        .sponsor-carousel img {
            max-height: 200px;
            margin: 10px; /* Adiciona um espaçamento entre as imagens */
        }


    .image-carousel-container {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        max-width: 100%;
    }

    .image-carousel {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens sejam quebrados para a próxima linha */
        justify-content: center; /* Centraliza os itens horizontalmente */
        gap: 10px; /* Adiciona um espaçamento entre as imagens */
        overflow: hidden;
        width: 100%;
    }

        .image-carousel img {
            max-height: 200px;
            height: auto;
            object-fit: contain;
        }

    .carousel-button {
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1001;
    }

        .carousel-button.left {
            left: 10px;
        }

        .carousel-button.right {
            right: 10px;
        }
</style>

<div class="content">
    <img src="/Logo.png" alt="Logo" />
    <p>Em prol das instituições:</p>
    <div class="institutions">
        <a href="https://www.soslondrina.com.br/" target="_blank">
            <img src="/SOSServicoesdeObrasSociaisdeLondrina.jpg" alt="SOS Serviços de Obras Sociais de Londrina" />
        </a>
        <a href="https://www.facebook.com/cei.tiamariajuliaa/" target="_blank">
            <img src="/CeiTiaMariaJulia.jpg" alt="CEI Tia Maria Julia" />
        </a>
    </div>
    <p>Junte-se ao 5º Burger Solidário! Seja um patrocinador, apoie uma causa importante e veja sua marca em evidência nas redes sociais e no evento!</p>



    <div class="sponsors-title">Patrocinadores já confirmados</div>
    <div class="image-carousel-container">
        <div class="image-carousel" id="@CarouselId">
            <a href="https://lantimoveis.com.br/"><img src="/patrocinadores/lantimoveis.jpg" class="d-block w-100" alt="Lantim Imóveis"></a>
            <a href="https://depositoroseira.com.br/"><img src="/patrocinadores/depositoroseira.png" class="d-block w-100" alt="Depósito Roseira"></a>
            <a href="https://londricabos.com.br/"><img src="/patrocinadores/londricabos.png" class="d-block w-100" alt="Londri Cabos"></a>
            <a href="https://www.alugueuse.com.br/"><img src="/patrocinadores/alugueuse.jpg" class="d-block w-100" alt="Alugueuse"></a>
            <a href="https://zelancheslondrina.com.br/"><img src="/patrocinadores/logo-mascote-ze-lanches.png" class="d-block w-100" alt="Zé Lanches"></a>
            <a href="https://www.instagram.com/tklondrina/"><img src="/patrocinadores/tkacabamentos.png" class="d-block w-100" alt="TK Acabamentos"></a>
        </div>
    </div>

    <a href="https://wa.me/554399070081" target="_blank" class="nofloating-sponsor">
        Seja um Patrocinador!
    </a>
</div>

<div class="floating-counter">
    <script>(function (d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>
    <a data-type="countdown" data-id="5681704" class="tickcounter" style="display:block; width:100%; height:70px; position:relative; padding-bottom:0; margin:0 auto;" title="5ª Noite do Burger Solidário" href="//www.tickcounter.com/">5ª Noite do Burger Solidário</a>
</div>

<div class="floating-icons">
    <a href="https://wa.me/554399070081" target="_blank">
        <img src="/whatsapp.png" alt="WhatsApp" />
    </a>
    <a href="https://www.instagram.com/noitedoburgersolidario/" target="_blank">
        <img src="/Instagram_icon.png" alt="Instagram" />
    </a>
    <a href="https://www.facebook.com/people/Noite-do-Burger-Solid%C3%A1rio-Arte-Ci%C3%AAncia/61561361584951/" target="_blank">
        <img src="/Facebook_Icon.png" alt="Facebook" />
    </a>
</div>
<div>
    <br><br />
    <a href="https://wa.me/554399070081" target="_blank" class="floating-sponsor">
        Seja um Patrocinador!
    </a>
</div>

@code {
    [Parameter] public List<string> Images { get; set; } = new List<string>();
    [Parameter] public string CarouselId { get; set; } = Guid.NewGuid().ToString();

    private async Task MoveLeft()
    {
        await JSRuntime.InvokeVoidAsync("moveCarousel", CarouselId, -1);
    }

    private async Task MoveRight()
    {
        await JSRuntime.InvokeVoidAsync("moveCarousel", CarouselId, 1);
    }
}

