@page "/"
@inject IJSRuntime JSRuntime;

<PageTitle>5ª Noite do Burger Solidário</PageTitle>

<div class="content">

    @if (!HistoriaDoEvento)
    {
        <img src="/LogoEvento.png" alt="Logo" style="max-width:800px;height:auto;" />

        <div class="sponsors-title-1" style="color:white">Venha saborear um delicioso burger assado na brasa, confraternizar e ajudar a espalhar o bem!</div>

        <div class="event-info-box">

            <div class="sponsors-title">Evento em prol das instituições</div>
            <div class="institutions">
                <a href="https://www.soslondrina.com.br/" target="_blank">
                    <img src="/SOSServicoesdeObrasSociaisdeLondrina.jpg" style="max-width:400px;height:auto;" alt="SOS Serviços de Obras Sociais de Londrina" />
                </a>
                <a href="https://www.facebook.com/cei.tiamariajuliaa/" target="_blank">
                    <img src="/CeiTiaMariaJulia.jpg" alt="CEI Tia Maria Julia" style="max-width:400px;height:auto;" />
                </a>
            </div>

            <div class="video-section">
                <p class="sponsors-title-smaller">Assista este vídeo e saiba mais sobre a instituição beneficiada pelo nosso evento neste ano.</p>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/__oWNDUrHw0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="event-info-box" style="background:#231236;">
            <p class="sponsors-title">
                Mais informações Sobre o Evento
            </p>

            <img src="/detalhes.png" alt="Detalhes do Evento" style="max-width:500px;height:auto;" />

            <p>Reserve já seu convite, seja um patrocinador, contribua também com esta corrente do bem. 🍔❤️</p>
        </div>

        <div class="event-info-box">
            <div class="sponsors-title">Patrocinadores já confirmados </div>

            <div class="image-carousel-container">
                <div class="image-carousel" id="@CarouselId">
                    <a href="https://diviplus.com.br/><img src="/patrocinadores/diviplus.jpg" class="d-block w-100" alt="Diviplus - Soluções Acústicas"></a>
                    <a href="https://www.manaiaimoveis.com.br/"><img src="/patrocinadores/manaiaimoveis.jpg" class="d-block w-100" alt="Manaia Imóveis"></a>
                    <a href="https://www.pereiraneto.eng.br/"><img src="/patrocinadores/pereiraneto.jpg " class="d-block w-100" alt="Pereira Neto Engenharia e Construção"></a>
                    <a href="https://imprimaplus.com.br/index.php"><img src="/patrocinadores/imprimaplus.png" class="d-block w-100" alt="Imprima Plus"></a>
                    <a href="https://www.instagram.com/strassbergdeliciasalemas/"><img src="/patrocinadores/rudolfkaffee.png" class="d-block w-100" alt="Rudolf Kaffe"></a>
                    <a href="https://www.facebook.com/medclinocupacional/?locale=pt_BR"><img src="/patrocinadores/medclin.png" class="d-block w-100" alt="Medclin Ocupacional"></a>
                    <a href="https://bodesdoasfaltolondrina.com.br/"><img src="/patrocinadores/bodes.png" class="d-block w-100" alt="Bodes do Asfalta - Facção Londrina"></a>
                    <a href="https://mapasecuritizadora.com.br/"><img src="/patrocinadores/mapa.png" class="d-block w-100" alt="Mapa Securitizadora"></a>
                    <a href="https://prosacozinhasecreta.com.br/"><img src="/patrocinadores/prosa.png" class="d-block w-100" alt="Prosa Cozinha Secreta"></a>
                    <a href="https://www.tocadocateto.com.br/"><img src="/patrocinadores/tocadocateto.png" class="d-block w-100" alt="Toca do Cateto"></a>
                    <a href="https://www.barracodasopa.com.br/"><img src="/patrocinadores/BarracoDaSopa.png" class="d-block w-100" alt="Barraco da Sopa"></a>
                    <a href="https://www.instagram.com/angico_restaurante/"><img src="/patrocinadores/angico.png" class="d-block w-100" alt="Restaurante Angico"></a>
                    <a href="https://lantimoveis.com.br/"><img src="/patrocinadores/lantimoveis.jpg" class="d-block w-100" alt="Lantim Imóveis"></a>
                    <a href="https://depositoroseira.com.br/"><img src="/patrocinadores/depositoroseira.png" class="d-block w-100" alt="Depósito Roseira"></a>
                    <a href="https://londricabos.com.br/"><img src="/patrocinadores/londricabos.png" class="d-block w-100" alt="Londri Cabos"></a>
                    <a href="https://www.alugueuse.com.br/"><img src="/patrocinadores/alugueuse.jpg" class="d-block w-100" alt="Alugueuse"></a>
                    <a href="https://zelancheslondrina.com.br/"><img src="/patrocinadores/logo-mascote-ze-lanches.png" class="d-block w-100" alt="Zé Lanches"></a>
                    <a href="https://www.instagram.com/tklondrina/"><img src="/patrocinadores/tkacabamentos.png" class="d-block w-100" alt="TK Acabamentos"></a>
                </div>
            </div>

            <div>
                <p style="font-size:22px;">Junte-se ao 5º Burger Solidário! Seja um patrocinador, apoie uma causa importante e veja sua marca em evidência nas redes sociais e no evento!</p>
            </div>

            <div>
                <a style="margin-top:10px" href="https://wa.me/554399070081" target="_blank" class="nofloating-sponsor">
                    Seja um Patrocinador!
                </a>
            </div>

        </div>
    }
    else
    {
        <div class="event-info-box">
            <h2 class="sponsors-title">História do Burger Solidário</h2>

            <h3 class="sponsors-title" style="color: white;">1º, 2º e 3º Burger Solidário - 2019-2021</h3>


            <div class="content-section">
                <div class="event-text">
                    <p>
                        A <strong>"Noite do Burger Solidário"</strong> nasceu do desejo de ajudar nosso querido irmão Giuseppe Prato, que precisava de uma cirurgia na coluna e havia sido diagnosticado com câncer. Em um espírito de fraternidade, todos os irmãos se uniram, e assim foi criado o <strong>"Primeiro Burger Solidário."</strong>
                    </p>
                    <p>
                        No ano seguinte, quando Giuseppe enfrentou um novo câncer, o evento foi novamente dedicado a ele. Com o apoio da Loja Prosperidade, realizamos o <strong>"Segundo Burger Solidário,"</strong> agora com maior organização e planejamento.
                    </p>
                    <p>
                        No terceiro ano, enquanto Giuseppe continuava sua batalha contra a doença, organizamos o <strong>"Terceiro Burger Solidário."</strong> Infelizmente, Giuseppe nos deixou um dia após o evento, e nossa perda foi ainda maior com o falecimento de nosso irmão Edno Gentilho Junior, que tanto contribuiu para os eventos anteriores.
                    </p>
                    <p>
                        Diante desses acontecimentos, decidimos transformar a <strong>"Noite do Burger Solidário"</strong> em um evento anual da Loja Maçônica Arte & Ciência, mantendo vivo o legado de solidariedade e honra à memória dos nossos queridos irmãos, levando adiante o espírito de união e apoio que sempre marcou essa jornada.
                    </p>
                </div>
            </div>


            <div class="history-images-container">
                <div class="history-image-item">
                    <img src="Giuseppe.png" alt="Giuseppe Prato" class="history-image" />
                    <p>Giuseppe Prato</p>
                </div>
                <div class="history-image-item">
                    <img src="Edno.png" alt="Edno Gentilho Junior" class="history-image" />
                    <p>Edno Gentilho Junior</p>
                </div>
            </div>
        </div>

        <div class="event-info-box">
            <h3 class="sponsors-title" style="color:white;">4º Burger Solidário - 2023</h3>
            <div class="content-section">
                <img src="/Resultado2023.png" style="max-width:500px" alt="Resultado 2023" class="event-image" />
                <div class="event-text">
                    <p>
                        A quarta edição realizada no ano de 2023 foi revertida para a Sra. Adriana Miranda que possuía uma grave deficiência em seus olhos, grau severo de miopia.
                    </p>
                    <p>
                        O Evento foi de grande sucesso, além de contribuir para uma melhor qualidade de vida da Sra. Adriana Miranda com o valor arrecadado conseguimos contribuir com Pessoas instituições necessitadas como:
                    </p>
                    <ul>
                        <li>Menino Cauê de 11 anos que passava por um tratamento de Câncer</li>
                        <li>Insumos para a Instituição Nuselon</li>
                        <li>Insumos para o Lar Maria Tereza</li>
                        <li>Insumos para o Asilo São Vicente</li>
                        <li>Insumos para a Família do Rio Grande do Sul afetada pelas fortes chuvas</li>
                        <li>Viagem do Menino Lorenzo para as Olimpíadas de Matemática em Nova York</li>
                        <li>Insumo para o Lar das Vovozinhas</li>
                    </ul>
                    <p>
                        Além de uma pequena parte da arrecadação foi destinada às instituições para-maçônicas Arco-Íris de Demolays que estão sempre nos auxiliando nos eventos.
                    </p>
                </div>
            </div>

            <div>
                <center>
                    <a href="/fotos/c5c64c554515a2c9f5486eebfe8d6c1c.jpg" target="_blank" rel="noopener noreferrer">
                        <img src="/fotos/c5c64c554515a2c9f5486eebfe8d6c1c.jpg" alt="Foto do evento" class="clickable-image" style="width:500px" />
                    </a>
                </center>

            </div>





            <a @onclick="AlternaHistoria" class="historiaevento">Voltar</a>
        </div>
    }
</div>




<div class="floating-counter">
    <script>(function (d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>
    <a data-type="countdown" data-id="5681704" class="tickcounter" style="display:block; width:100%; height:110px; position:relative; padding-bottom:0; margin:0 auto;" title="5ª Noite do Burger Solidário" href="//www.tickcounter.com/">5ª Noite do Burger Solidário</a>
</div>

<div class="top-bar">
    <div>
        <a href="https://wa.me/554399070081" target="_blank" class="floating-sponsor">
            Seja um Patrocinador!
        </a>
        <a @onclick="AlternaHistoria" class="floating-historia">
            @textHistoria
        </a>
    </div>
    <div class="floating-icons">
        <a href="https://wa.me/554399070081" target="_blank">
            <img src="/whatsapp.png" alt="WhatsApp" />
        </a>
        <a href="https://www.instagram.com/noitedoburgersolidario/" target="_blank">
            <img src="/Instagram_icon.png" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/people/Noite-do-Burger-Solid%C3%A1rio-Arte-Ci%C3%AAncia/61561361584951/" target="_blank">
            <img src="/Facebook_Icon.png" alt="Facebook" />
        </a>
    </div>
</div>




@code {
    [Parameter] public List<string> Images { get; set; } = new List<string>();
    [Parameter] public string CarouselId { get; set; } = Guid.NewGuid().ToString();

    bool HistoriaDoEvento = false;

    string textHistoria = "História do Burger";

    void AlternaHistoria()
    {
        HistoriaDoEvento = !HistoriaDoEvento;
        if (textHistoria == "História do Burger")
        {
            textHistoria = "5º Burger Solidário";
        }
        else
        {
            textHistoria = "História do Burger";
        }
    }



    private async Task MoveLeft()
    {
        await JSRuntime.InvokeVoidAsync("moveCarousel", CarouselId, -1);
    }

    private async Task MoveRight()
    {
        await JSRuntime.InvokeVoidAsync("moveCarousel", CarouselId, 1);
    }
}

